# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environments
venv/
.env/
*.egg-info/

# Data & models
data/
models/
*.h5
*.pkl
*.joblib

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
